# Insert here your bot token. Log in to Discord on a browser, then visit
# https://discordapp.com/developers/applications/me, click on your bot
# and reveal your token under App Bot User > Token.
BOT_TOKEN=

# Your user ID. Enable developer mode on Discord, right click your name in
# a conversation, and click Copy ID. There are other ways to get your user
# ID. See README.
BOT_OWNER=

# The role to be used for helper command. Must be a string with a valid
# rolename that has to exist in this server, otherwise !helper commands will
# mostly be ignored. If not set, will use 'helper' as default role name.
HELPER_ROLE=

# The channel being used as modlog. Some moderation messages will be posted
# to this channel. Note the bot must have posting permissions on this channel
# for the bot to work successfully.
MODLOG=

# The channel where the user will have to send a verification message.
VERIFY_CHANNEL=

# The message the user will have to send to have their account verified.
VERIFY_TOKEN=

# The role that will be given to users who verify their account.
VERIFY_ROLE=
